<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓:<input type="text" v-model="firstName"><br>
        名:<input type="text" v-model="lastName"><br>
        全名:<span>{{ fullName }}</span><br>
    </div>

    <script>
        Vue.config.productionTip = false // 阻止vue在启动时生成生产提示

        const vm = new Vue({
            el: '#root',
            data: {
                firstName: '张',
                lastName: '三',
                fullName: '张-三'
            },
            watch: {
                // 新的姓 + 旧的名字
                firstName(newValue) {
                    // 箭头函数，没有自己的this，就往外面找，就找到了firstName中的this，即vm
                    setTimeout(() => {
                        this.fullName = newValue + '-' + this.lastName
                    }, 1000);
                },
                lastName(newValue) {
                    this.fullName = this.firstName + '-' + newValue
                }
            }
        })
    </script>

</body>

</html>