<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <h2>人员列表(遍历数组)</h2>
        <input type="text" placeholder="请输入名字" v-model="keyWord">
        <ul>
            <li v-for="(p,index) in filPersons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>

    </div>
    <script type="text/javascript">
        Vue.config.productionTip = false

        // 创建Vue实例,一切的开端

        // 用watch实现
        new Vue({
            el: '#root',
            data: {
                keyWord: "",
                persons: [
                    // 因为里面有很多内容，所以里面最好存的就是对象
                    { id: '001', name: '马冬梅', age: 19, sex: '女' },
                    { id: '002', name: '周冬雨', age: 20, sex: '女' },
                    { id: '003', name: '周杰伦', age: 21, sex: '男' },
                    { id: '004', name: '周杰伦', age: 22, sex: '男' }
                ],
                // 过滤出来的数组，放置在这个位置即可
                filPersons: [

                ]
            },
            watch: {   
                // 监视keyword,本案例我们只需要一个新值，旧值我们不关心
                // 关于监视操作，只要监视到keyWord发生改变，下面的逻辑就会执行
                keyWord:{
                    immediate:true, // 这个属性为true就是表示一上来就执行一次
                    handler(value) {
                        this.filPersons = this.persons.filter((p) => {
                            // return后面匹配的是：满足条件的内容，这一点很关键
                            return p.name.indexOf(value) !== -1
                        })
                    }
                }
            }
        })

    </script>
</body>

</html>